.header{
    height: auto !important;
    margin: 0 0 5vw 0 ;
}

.difumindado{
    padding: 0 7.944% 0 7.944%;
    height: 15vw; 
    background-color: rgba(31, 31, 37, 0.85);
    display: grid;
}

#bottomHeader{
    align-self: center;
    
    display: grid;
    grid-template-areas: 'titulo menu';
    grid-template-columns: 65% 35%;
    
}
#bottomHeader > a {
    width: max-content;
    text-decoration: none;
    color: white;

}


#titleHeader{
    grid-area: titulo;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;

    
}


#menuHeader{
    grid-area: menu;
    display: flex;
    justify-content: center;

}
#menuHeader > a{
    font-size: 3vw;
    color: white;
    text-decoration: none;
    align-self: center;
    
}
#menuHeader > p{
    margin: 0 5px 0 5px;
    font-size: 5vw;
    color: white;
    text-decoration: none;
    align-self: center;
}


#navHeader{
    display: none;
    
}

#izquierdaSocialHeader{
    display: none;
}

#derechaSocialHeader{
    display: none;
}


@media (min-width: 610px) {
    .header{
        height: 35vw;
        background-position: 0 30%;

    }

    .difumindado{
        padding: 1% 10% 0% 10%;
        height: 5rem; 

        grid-template-areas:    'izquerdasocialHeader derechaSocialHeader'
                                'bottomHeader bottomHeader';
        grid-template-rows: 20px 50px;
        grid-template-columns: 70% auto;

    }

    #bottomHeader{
        grid-area: bottomHeader;

        display: grid;
        grid-template-areas: 'title nav';
        grid-template-columns: 50% 50%;

        border-top: 1px solid #6C6C6C;
        padding: 5px 0 0 0;

    }

    #titleHeader{
        grid-area: title;
        font-size: 1.7rem;
        
    }
    
    #menuHeader{
        display: none;

    }
    #navHeader{
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: end;

    }

    #navHeader > a{
        color: white;
        text-decoration: none;
        
        font-style: normal;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0 0 0 20px;

    }
    #navHeader > a:hover{
        color: rgb(124, 124, 124);

    }

    #izquierdaSocialHeader{
        grid-area: izquerdasocialHeader;
        text-align: left;
        display: flex;
        align-items: center;
        color: white;

    }

    #izquierdaSocialHeader > i{
        font-size: 1.2rem;
        margin: 0 20px 0 0;

    }
    #izquierdaSocialHeader > p{
        cursor: default;
        font-family:Helvetica;
        font-size: 0.75rem;
        margin: 0 20px 0 0;

    }
        
    
    #derechaSocialHeader{
        grid-area: derechaSocialHeader;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        color: white;
    }

    #derechaSocialHeader > i{
        font-size: 1.2rem;
        margin: 0  0 0 20px;

    }
    #derechaSocialHeader > p{
        cursor: default;
        font-size: 0.75rem;

    }


}
